Import Libraries and File

In [72]:
import pandas as pd
import numpy as np
from datetime import datetime

patient_record = pd.read_csv('dirty_healthcare_data.csv')

In [73]:
patient_record.head(10)

,patient_id,name,age,gender,height_cm,weight_kg,bmi,blood_pressure,heart_rate,diagnosis,admission_date,discharge_date,smoker,medication_dosage_mg,billing_amount_usd
0,P01809,Maria Thomas,58.0,Male,168.0,78.1,24.9,161/97,87,Heart Disease,2023-11-19 00:00:00,2023-11-19 00:00:00,Former,200,3504.21
1,P00695,Lee Davis,64.0,Male,192.2,70.2,20.0 kg/m2,141 over 68,54,COVID-19,2023-03-07 00:00:00,2023-03-16 00:00:00,Yes,150,"2,326.55"
2,P00907,Maria Davis,89.0,F,176.6,61.5,20.6,153 / 77,58,Asthma,2023-08-06 00:00:00,2023-08-16 00:00:00,Former,150,4079.6
3,P00545,Lee Garcia,71.0,Male,154.7,53.8,22.5,90/77,73,Asthma,02/01/2023,12/01/2023,No,0,1190.32
4,P01848,Jane Martinez,NaN,F,173.8,55.0,7.119546826387424,123/67,59,NaN,2023-08-01 00:00:00,2023-08-13 00:00:00,Yes,100,1117.52
5,P01567,Sam Miller,34.0,Male,180.3,82.5,23.9 kg/m2,160/71,57,Flu,2023-09-07,2023-09-21,No,250,2523.48
6,P01573,Pat Garcia,57.0,Female,NaN,80.6,24.2,125/109,62,Asthma,2023-10-17 00:00:00,2023-10-24 00:00:00,no,150,2139.5
7,P00945,Chris Davis,76.0,Female,177.8,92.9,28.5,95/77,70,Heart Disease,2023-06-22 00:00:00,2023-07-03 00:00:00,EX-SMOKER,0,2474.44
8,P00819,Jane Anderson,77.0,Female,169.8,89.5,33.0,102/81,65,Healthy,2023-09-19 00:00:00,2023-09-26 00:00:00,No,150,3855.12
9,P00830,Sam Martinez,89.0,female,173.2,-33.0,28.5,NaN,99,Healthy,2023-06-20 00:00:00,2023-07-04 00:00:00,No,100,"USD 2,181.81"

In [74]:
patient_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patient_id            2050 non-null   object
 1   name                  2050 non-null   object
 2   age                   1954 non-null   float64
 3   gender                1958 non-null   object
 4   height_cm             1950 non-null   float64
 5   weight_kg             1956 non-null   float64
 6   bmi                   1957 non-null   object
 7   blood_pressure        1953 non-null   object
 8   heart_rate            2050 non-null   int64
 9   diagnosis             1934 non-null   object
 10  admission_date        2050 non-null   object
 11  discharge_date        2050 non-null   object
 12  smoker                2007 non-null   object
 13  medication_dosage_mg  2050 non-null   int64
 14  billing_amount_usd    1939 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 240.4+ KB

In [75]:
patient_record.describe()

               age    height_cm   weight_kg   heart_rate  medication_dosage_mg
count  1954.000000  1950.000000  1956.00000  2050.000000           2050.000000
mean     52.181679   167.668359    72.95271    84.644390            126.975610
std      21.421411    28.508925    27.69680    20.407438             85.598541
min      -5.000000  -240.000000  -274.00000    50.000000              0.000000
25%      34.000000   163.200000    63.50000    66.000000             50.000000
50%      52.000000   169.400000    74.30000    85.000000            150.000000
75%      70.750000   176.500000    84.80000   103.000000            200.000000
max      89.000000   213.000000   292.00000   119.000000            250.000000

Capitalise the First Letter of the Patient Names

In [76]:
patient_record['name'] = patient_record['name'].str.title()

Dealing with Age

In [77]:
less_than_zero = patient_record['age'] < 18

print(patient_record.loc[less_than_zero,'age'].head(3))

94     0.0
517   -3.0
535   -3.0
Name: age, dtype: float64

In [78]:

q1 = patient_record['age'].quantile(0.25)
q3 = patient_record['age'].quantile(0.75)

iqr = q3 - q1
upper_limit = q3 + (1.5 * iqr)
lower_limit = q1 - (1.5 * iqr)


age_outlier_mask = patient_record['age'] < 18
print(patient_record.loc[age_outlier_mask,['name','age']].head(3))

print('FIX APPLIED')

patient_record.loc[age_outlier_mask,'age'] = round(abs(lower_limit),0)
print(patient_record.loc[age_outlier_mask,['name','age']].head(3))

             name  age
94   Jane Johnson  0.0
517    Pat Thomas -3.0
535  Maria Garcia -3.0
FIX APPLIED
             name   age
94   Jane Johnson  21.0
517    Pat Thomas  21.0
535  Maria Garcia  21.0

Standardize Gender

In [79]:
patient_record['gender'].unique()

gender_map = {
    'F': 'Female',
    'female': 'Female',
    'male': 'Male',
    'M': 'Male',
    'Other ': 'Other',
    'N/A': np.nan
}

patient_record['gender'] = patient_record['gender'].replace(gender_map)

patient_record['gender'].unique()

array(['Male', 'Female', nan, 'Other', 'Non-binary'], dtype=object)

Check for Invalid Heights

In [80]:
height_outlier_mask = patient_record['height_cm'] < 0
print(patient_record.loc[height_outlier_mask,['name','height_cm']].head(3))

print('FIX APPLIED')

patient_record.loc[height_outlier_mask,'height_cm'] = patient_record['height_cm'] * -1
print(patient_record.loc[height_outlier_mask,['name','height_cm']].head(3))

             name  height_cm
11    Chris Brown      -95.0
39   Pat Martinez     -200.0
185  Jordan Davis      -83.0
FIX APPLIED
             name  height_cm
11    Chris Brown       95.0
39   Pat Martinez      200.0
185  Jordan Davis       83.0

Check for Invalid Weights

In [81]:
weight_outlier_mask = patient_record['weight_kg'] < 0
print(patient_record.loc[weight_outlier_mask,['name','weight_kg']].head(3))

print('FIX APPLIED')

patient_record.loc[weight_outlier_mask,'weight_kg'] = patient_record['weight_kg'] * -1
print(patient_record.loc[weight_outlier_mask,['name','weight_kg']].head(3))

               name  weight_kg
9      Sam Martinez      -33.0
13    John Martinez     -163.0
362  Chris Martinez      -75.0
FIX APPLIED
               name  weight_kg
9      Sam Martinez       33.0
13    John Martinez      163.0
362  Chris Martinez       75.0

Calculate BMI and Replace BMI

In [82]:
height_to_metres = patient_record['height_cm'] / 100

height_to_metre_sq = height_to_metres ** 2

bmi2 = patient_record['weight_kg'] / height_to_metre_sq

In [83]:
# Check if the calculated bmi is the same as the bmi in the dataset
patient_record['bmi'] == bmi2

#Replace the original bmi with the calculated bmi
patient_record['bmi'] = bmi2

Blood Pressure Check

In [84]:
patient_record['blood_pressure'] = patient_record['blood_pressure'].str.replace('over','/').str.replace(' / ','/').str.replace('mmHg','')

bp_split = patient_record['blood_pressure'].str.split('/',expand=True)

patient_record['systolic_bp'] = pd.to_numeric(bp_split[0],errors='coerce').astype('Int64')
patient_record['diastolic_bp'] = pd.to_numeric(bp_split[1],errors='coerce').astype('Int64')

Diagnosis Check

In [85]:
patient_record['diagnosis'].unique()

patient_record['diagnosis'] = patient_record['diagnosis'].fillna('Unknown')

patient_record['diagnosis'].unique()

array(['Heart Disease', 'COVID-19', 'Asthma', 'Unknown', 'Flu', 'Healthy',
       'Diabetes', 'Hypertension'], dtype=object)

Date Check

In [86]:
# Date Format 
print(patient_record['admission_date'].dtype) 
print(patient_record['discharge_date'].dtype) 

# For admission_date

mix_format = patient_record["admission_date"].str.fullmatch(r"\d{2}-[A-Za-z]{3}-\d{4}")

patient_record.loc[mix_format, 'admission_date'] = (
    pd.to_datetime(
        patient_record.loc[mix_format, 'admission_date'],
        format='%d-%b-%Y',      # US format
        errors='coerce'
    )
    .dt.strftime('%Y-%m-%d')    # standard ISO format
)

# Boolean mask: dates like '12 Aug 2025'
mask_space = patient_record["admission_date"].str.fullmatch(r"\d{2} [A-Za-z]{3} \d{4}")

# Use the mask to convert only those rows
patient_record.loc[mask_space, "admission_date"] = (
    pd.to_datetime(
        patient_record.loc[mask_space, "admission_date"],
        format="%d %b %Y",
        errors="coerce",
    )
    .dt.strftime("%Y-%m-%d")   # -> '2025-08-12'
)


mask = patient_record['admission_date'].astype(str).str.contains('/', na=False)

patient_record.loc[mask, 'admission_date'] = (
    pd.to_datetime(
        patient_record.loc[mask, 'admission_date'],
        format='%d/%m/%Y',      # US format
        errors='coerce'
    )
    .dt.strftime('%Y-%m-%d')    # standard ISO format
)

# Discharge Date
mix_format = patient_record["discharge_date"].str.fullmatch(r"\d{2}-[A-Za-z]{3}-\d{4}")

patient_record.loc[mix_format, 'discharge_date'] = (
    pd.to_datetime(
        patient_record.loc[mix_format, 'discharge_date'],
        format='%d-%b-%Y',      # US format
        errors='coerce'
    )
    .dt.strftime('%Y-%m-%d')    # standard ISO format
)

# Boolean mask: dates like '12 Aug 2025'
mask_space = patient_record["discharge_date"].str.fullmatch(r"\d{2} [A-Za-z]{3} \d{4}")

# Use the mask to convert only those rows
patient_record.loc[mask_space, "discharge_date"] = (
    pd.to_datetime(
        patient_record.loc[mask_space, "discharge_date"],
        format="%d %b %Y",
        errors="coerce",
    )
    .dt.strftime("%Y-%m-%d")   # -> '2025-08-12'
)

# For discharge_date
mask = patient_record['discharge_date'].astype(str).str.contains('/', na=False)

patient_record.loc[mask, 'discharge_date'] = (
    pd.to_datetime(
        patient_record.loc[mask, 'discharge_date'],
        format='%d/%m/%Y',
        errors='coerce'
    )
    .dt.strftime('%Y-%m-%d')
)

print(patient_record['admission_date'].dtype) 
print(patient_record['discharge_date'].dtype)

object
object
object
object

In [87]:
# Check that admision date is not after the discharge date

invalid_period = patient_record['admission_date'] > patient_record['discharge_date']
health_loc = patient_record.loc[invalid_period,['name', 'admission_date','discharge_date']].head(3)

print(health_loc)

Empty DataFrame
Columns: [name, admission_date, discharge_date]
Index: []

Data Categorization

In [88]:
patient_record['smoker'].unique()

smoker_map = {
    'former': 'Ex Smoker',
    'EX-SMOKER': 'Ex Smoker',
    'Former': 'Ex Smoker',
    'Y': 'Yes',
    'yes': 'Yes',
    'no': 'No',
    'N': 'No',
    np.nan: 'Unknown'
}

patient_record['smoker']= patient_record['smoker'].replace(smoker_map)

patient_record['smoker'].unique()

array(['Ex Smoker', 'Yes', 'No', 'Unknown'], dtype=object)

In [89]:
# Add a new Column for Active Smokers

patient_record['active_smoker'] = patient_record['smoker'].replace('Ex Smoker','No')

patient_record['active_smoker'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [90]:
patient_record.describe()

,age,height_cm,weight_kg,bmi,heart_rate,medication_dosage_mg,systolic_bp,diastolic_bp
count,1954.000000,1950.000000,1956.000000,1865.000000,2050.000000,2050.000000,1879.0,1879.0
mean,52.381269,169.642718,75.243098,26.942508,84.644390,126.975610,133.569984,84.813731
std,21.032014,12.101403,20.676391,14.837231,20.407438,85.598541,26.084512,14.705429
min,18.000000,50.000000,21.300000,6.461547,50.000000,0.000000,90.0,60.0
25%,34.000000,163.200000,63.800000,21.393509,66.000000,50.000000,111.0,72.0
50%,52.000000,169.400000,74.550000,25.753439,85.000000,150.000000,133.0,85.0
75%,70.750000,176.600000,84.900000,30.199543,103.000000,200.000000,156.0,98.0
max,89.000000,240.000000,292.000000,377.547097,119.000000,250.000000,179.0,109.0

In [91]:
patient_record.head(15)

,patient_id,name,age,gender,height_cm,weight_kg,bmi,blood_pressure,heart_rate,diagnosis,admission_date,discharge_date,smoker,medication_dosage_mg,billing_amount_usd,systolic_bp,diastolic_bp,active_smoker
0,P01809,Maria Thomas,58.0,Male,168.0,78.1,27.671485,161/97,87,Heart Disease,2023-11-19 00:00:00,2023-11-19 00:00:00,Ex Smoker,200,3504.21,161,97,No
1,P00695,Lee Davis,64.0,Male,192.2,70.2,19.003358,141/68,54,COVID-19,2023-03-07 00:00:00,2023-03-16 00:00:00,Yes,150,"2,326.55",141,68,Yes
2,P00907,Maria Davis,89.0,Female,176.6,61.5,19.719401,153/77,58,Asthma,2023-08-06 00:00:00,2023-08-16 00:00:00,Ex Smoker,150,4079.6,153,77,No
3,P00545,Lee Garcia,71.0,Male,154.7,53.8,22.480276,90/77,73,Asthma,2023-01-02,2023-01-12,No,0,1190.32,90,77,No
4,P01848,Jane Martinez,NaN,Female,173.8,55.0,18.208038,123/67,59,Unknown,2023-08-01 00:00:00,2023-08-13 00:00:00,Yes,100,1117.52,123,67,Yes
5,P01567,Sam Miller,34.0,Male,180.3,82.5,25.378298,160/71,57,Flu,2023-09-07,2023-09-21,No,250,2523.48,160,71,No
6,P01573,Pat Garcia,57.0,Female,NaN,80.6,NaN,125/109,62,Asthma,2023-10-17 00:00:00,2023-10-24 00:00:00,No,150,2139.5,125,109,No
7,P00945,Chris Davis,76.0,Female,177.8,92.9,29.386793,95/77,70,Heart Disease,2023-06-22 00:00:00,2023-07-03 00:00:00,Ex Smoker,0,2474.44,95,77,No
8,P00819,Jane Anderson,77.0,Female,169.8,89.5,31.041855,102/81,65,Healthy,2023-09-19 00:00:00,2023-09-26 00:00:00,No,150,3855.12,102,81,No
9,P00830,Sam Martinez,89.0,Female,173.2,33.0,11.000645,NaN,99,Healthy,2023-06-20 00:00:00,2023-07-04 00:00:00,No,100,"USD 2,181.81",<NA>,<NA>,No
10,P01531,Jordan Anderson,21.0,Male,157.6,62.2,25.042516,133/97,88,Healthy,2023-04-08 00:00:00,2023-04-15 00:00:00,Yes,200,3708.25,133,97,Yes
11,P00979,Chris Brown,33.0,NaN,95.0,78.8,87.313019,NaN,73,Asthma,2023-08-16,2023-08-16,No,150,3226.47,<NA>,<NA>,No
12,P01576,Chris Davis,62.0,Female,177.9,76.0,24.013845,176/71,111,Flu,2023-02-08 00:00:00,2023-02-16 00:00:00,Yes,0,"1,140.83",176,71,Yes
13,P00786,John Martinez,22.0,Female,159.6,163.0,63.991432,164/72,84,Heart Disease,2023-03-27 00:00:00,2023-04-05 00:00:00,No,50,1448.22,164,72,No
14,P00071,Jordan Brown,43.0,Female,158.5,72.4,28.819075,151/69,52,Flu,2023-06-25 00:00:00,2023-07-08 00:00:00,No,50,2276.19,151,69,No

Standardise the Billing Amount - column should be float

In [92]:
dirty_billing = (
    patient_record["billing_amount_usd"]
    .astype(str)
    .str.contains(r"\$|USD", na=False)
)

print(patient_record.loc[dirty_billing,['patient_id','billing_amount_usd']].head(3))

patient_record['billing_amount_usd'] = patient_record['billing_amount_usd'].astype(str).str.replace('[^\d.-]|USD ','',regex=True)
patient_record['billing_amount_usd'] =pd.to_numeric(patient_record['billing_amount_usd'])


print(patient_record.loc[dirty_billing,['patient_id','billing_amount_usd']].head(3))

#patient_record['billing_amount_usd']

   patient_id billing_amount_usd
9      P00830       USD 2,181.81
20     P01321            $995.36
25     P00057       USD 3,884.87
   patient_id  billing_amount_usd
9      P00830             2181.81
20     P01321              995.36
25     P00057             3884.87

<>:9: SyntaxWarning: invalid escape sequence '\d'
<>:9: SyntaxWarning: invalid escape sequence '\d'
C:\Users\adeso\AppData\Local\Temp\ipykernel_24812\3277854618.py:9: SyntaxWarning: invalid escape sequence '\d'
  patient_record['billing_amount_usd'] = patient_record['billing_amount_usd'].astype(str).str.replace('[^\d.-]|USD ','',regex=True)

Save New Patient Record as a New File

In [93]:
patient_record.to_csv('patient_record.csv')